{% load static %} 

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>1-questions listning</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    
    <body class="d-flex flex-column h-100">

    {% block navbar_content %}
      {% include "include/navbar.html" %}
    {% endblock navbar_content %}

<main class="main-container">
  <div class="container-fluid main-workspace">
    <div class="row justify-content-between">

  {% block content %}
  {% endblock content %}

  <div class="col-3">
    <div class="row justify-content-end">
        <div class="col-10 left-board">
            <div class="row">
                <label class="header-label">Popular tags</label>
                <div class="container tags-container">
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.0 %}">{{popular_tags.0}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.1 %}">{{popular_tags.1}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.2 %}">{{popular_tags.2}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.3 %}">{{popular_tags.3}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.4 %}">{{popular_tags.4}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.5 %}">{{popular_tags.5}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.6 %}">{{popular_tags.6}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.7 %}">{{popular_tags.7}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.8 %}">{{popular_tags.8}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.9 %}">{{popular_tags.9}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.10 %}">{{popular_tags.10}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.11 %}">{{popular_tags.11}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.12 %}">{{popular_tags.12}}</a>
                    <a class="header-link" href="{% url "tag_questions" pk=popular_tags.13 %}">{{popular_tags.13}}</a>
                    <div class="popular-tags__tags-name">
                </div>
            </div>
                <label class="header-label">Best members</label>
                <div class="container members-container">
                    <div class="row justify-content-start">
                        <a class="header-link" href="#">Mr.Freeman</a>
                        <a class="header-link" href="#">Dr.House</a>
                        <a class="header-link" href="#">Bender</a>
                        <a class="header-link" href="#">Queen Victoria</a>
                        <a class="header-link" href="#">V.Pupkin</a>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
</div>
</main>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

</body>
</html>