<div class="row-fluid questions-container">
    <div class="row-fluid questions-header">
        <label>Log In</label>
    </div>
    <div class="row-fluid Log-in-board">
        <div class="mb-1 row wrong-password">
            <label class="col-sm-4 col-form-label">Sorry, wrong password</label>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Login:</label>
            <div class="col-sm-5 tags-form">
                <input type="text" class="form-control" placeholder="Entire your login here">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-5 tags-form">
                <input type="password" class="form-control" placeholder="Entire your password here">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="offset-md-2 col-2">
                <button class="btn btn-outline-success">Log in!</button>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="offset-md-2 col-4">
                <a href="#">Create new account</a>
            </div>
        </div>
    </div>
</div>