<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class=" container-sm">
            <a class="navbar-brand" href="{% url "new_questions" %}">AskKadyrov</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex">
                    <input class="form-control me-2 search-form" type="search" placeholder="Search" aria-label="Search">
                    <a class="btn btn-outline-success" role="button"
                       href = "{% url "new_question" %}">
                        Ask!
                    </a>
                </form>
            </div>
        </div>
        <div class="container profile-container justify-content-end">
            {% include "include/navbar/autoriz.html" %}
<!--            {% include "include/navbar/unautoriz.html" %}-->
        </div>
    </nav>
</header>