<div class="row-fluid questions-container">
    <div class="row-fluid questions-header">
        <label>New Question</label>
    </div>
    <div class="row-fluid new-question-board">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10 title-form">
                <input type="text" class="form-control" value="How to wake up in glad mood and with love of life?">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Text:</label>
            <div class="col-sm-10 text-form">
                <textarea class="form-control" wrap="soft">Guys, I have some trouble with my frame of mind because of difficult period in my life. It leads to various mental and physiological problems...</textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tags:</label>
            <div class="col-sm-10 tags-form">
                <input type="text" class="form-control" value="depression, melancholy, yearning">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="offset-md-2 col-2">
                <button class="btn btn-outline-success">Ask!</button>
            </div>
        </div>
    </div>
</div>