{% load static %}

<div class="container-fluid question-container">
  <div class="row">
      <div class="col-2 question-left-board">
          <div class="row justify-content-center">
            <img src="{% static "img/200.jpg" %}">
          </div>
          <div class="row justify-content-center upvote-buttons-container">
              <button class="customStepDown" type="button" onclick="this.nextElementSibling.stepDown()">-</button>
              {{question.rating}}
              <button class="customStepUp" type="button" onclick="this.previousElementSibling.stepUp()">+</button>
          </div>
      </div>
      <div class="col-10 question-right-board">
          <div class="row-fluid">
              <a href="{% url "one_question" pk=question.id %}">{{question.title}}</a>
          </div>
          <div class="row-fluid">
              <label>{{question.text}}</label>
          </div>
          <div class="row justify-content-between question-bottom-board">
              <div class="col-2">
                  <a href="{% url "one_question" pk=question.id %}">answers ({{question.num_answers}})</a>
              </div>
              <div class="col">
                  <label>Tags:</label>
                  {% for tag in question.tags.all %}
                    <a href="{% url "tag_questions" pk=tag %}">{{tag}}</a>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>
