.questions-header label {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-brush input {
    border: 2px purple solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.form-brush label {
    margin-bottom: 5px;
}

.form-brush button {
    background: #212529;
    border: 2px purple solid;
}

.form-brush button:hover {
    background-color: purple;
    border-color: #7c0c84;
}

.create-new a {
    margin: 10px 0 0;
    padding: 0;
}

.create-new a {
    color: #842029;
}

.create-new a:hover {
    color: blue;
}