{% extends "include/base.html" %}
{% load static %}

{% block content %}
<link href="{% static "css/questions.css" %}" rel="stylesheet">
<div class="col-9">
    <div class="row-fluid right-board">
        <div class="row-fluid questions-header">
            <label>Hot Questions</label>
            <a href="{% url "index" %}">New Questions</a>

            {% for question in questions %}
               {% include "include/question.html" %}
            {% endfor %}

            {% with objects=questions %}
              {% include "include/pagination.html" %}
            {% endwith %}
        </div>
        
    </div>
</div>
{% endblock content %}
