{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<link href="{% static "css/profile settings.css" %}" rel="stylesheet">
<div class="col-9">
  <div class="row-fluid settings-container">
      <div class="row-fluid settings-header">
          <label>Settings:</label>
          <label class="profile-name">{{request.user.profile.nickname}}</label>
      </div>
      <form action="" class="novalidate settings-input" enctype="multipart/form-data" method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-dark" type="submit">Save</button>
                {% endbuttons %}
    </form>
  </div>
</div>
{% endblock content %}
